<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neno.chatapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pocetna"
            android:label="@string/title_activity_pocetna" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Chat"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".Registracija"
            android:label="@string/title_activity_registracija" >
        </activity>
        <activity
            android:name=".Slika"
            android:label="@string/title_activity_slika" >
        </activity>
        <activity
            android:name=".Slika1"
            android:label="@string/title_activity_slika1" >
        </activity>
        <activity
            android:name=".CreatePoll"
            android:label="@string/title_activity_create_poll" >
        </activity>
    </application>

</manifest>
